body {
    background-image: linear-gradient(to right, #929291, #353535);
}
header {
    margin: 1% 5% 1% 5%;
    padding: 1%;
    color: white;
    font-family: cursive;
    background-color: black;
    border-radius: 20px 0 20px 0;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.5);
}
.logo-principal {
    height: auto;
    max-height: 300px;
    width: 60%;
    border-radius: 50%;
    margin-top: 25%;
}
#nav {
    background-color: rgb(233, 191, 135);
    margin-bottom: 4%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
article h2 {
    color: azure;
    text-decoration: overline;
    text-align: center;
    margin-bottom: 1%;
    font-family: fantasy;
    letter-spacing: 0.01em;
}
section p {
    text-align: justify;
    color: rgb(208, 205, 205);
    font-size: 1.4vw;
}
.item-1 {
    margin-top: 10%;
    font-size: 1vw; /* Tamaño de fuente responsiva */
    font-family: cursive;
}
.item-1 h3 {
    font-size: 2.3vw;
    font-family: fantasy;
    letter-spacing: 0.01em;
    color: rgb(210, 214, 214);
    text-decoration: overline;
}
.item-1 h4 {
    font-size: 1.5vw;
    text-align: center;
    color: rgb(255, 237, 237);
    font-weight: bold;
    
}
.item-1 h6 {
    font-size: 1.1vw;
    font-family: monospace;
    font-weight: bold;
}
.item-1 img {
    height: auto;
    max-height: 450px;
    width: 75%;
    border-radius: 10px;
}
.a {
    margin: 0 10% 0 -5% ;
}
.aa {
    display: flex;
    justify-content: space-evenly;
}
hr {
    border: none;
    height: 4px;
    background-color: white;
}
/* Estilo responsivo para el carrusel */
.carousel-item img {
    height: auto;
    max-height: 450px;
    width: 100%;
}
.carousel-item {
    border: 3px solid black;
}
#boton {
    background-color: black;
    border: white 1px solid;
    width: 14vh;
}
footer {
    margin: 5% 5% 1% 5%;
    padding-top: 1%;
    margin-top: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.9);
    color: rgb(206, 200, 200);
}
#row {
    font-size: 1.5vw;
    font-weight: bold;
    color: #c2bebe;
}
@media (min-width: 700px) {
    #row {
        font-size: 1.2vw;
    }
}
#col {
    color: rgb(255, 255, 255);
    font-size: 1.7vw;
    text-decoration: underline;
    font-family: cursive;
    font-weight: bold;
}
@media (min-width: 700px) {
    #col {
        font-size: 1.4vw;
    }
}
#col-0 {
    margin-top: -1.3%;
    font-size: 1.8vw;
    font-family: fantasy;
    letter-spacing: 0.01em;
    text-decoration: overline;
    text-align: center;
    margin-bottom: 1%;
}
@media (min-width: 700px) {
    #col-0 {
        font-size: 1.6vw;
        margin-bottom: 2%;
    }
}
.hr {
    margin-top: 1%;
    margin-bottom: 2%;
    border: none;
    height: 5px;
    background-color: white;
}
@media (min-width: 1000px) {
    .hr {
        border: none;
        height: 10px;
        background-color: white;
        margin-bottom: 0.5%;
    }
}
.logos {
    height: auto;
    max-width: 23px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 2px 1px 3px 3px rgba(255, 255, 255, 0.7);
    margin-bottom: 30%;
}
@media (min-width: 700px) {
    .logos {
        height: auto;
        max-width: 100px;
        width: 70%;
        margin-top: 10%;
        margin-bottom: 15%;
    }
}